<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:int="http://www.springframework.org/schema/integration"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration
		http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/integration/stream
		http://www.springframework.org/schema/integration/stream/spring-integration-stream.xsd">

    <beans:bean id="filter" class="musicshop.endpoint.MusicItemPackageFilter"></beans:bean>

    <int:gateway service-interface="musicshop.endpoint.MusicItemsPackageGateway" id="musicItemsPackageGateway"
                 default-request-channel="musicItemsPackageChannel"/>

    <int:filter ref="filter" method="guitarsOnly"
                input-channel="musicItemsPackageChannel" output-channel="guitarsChannel"/>

    <!-- Channels -->
    <int:channel id="musicItemsPackageChannel" />
    <!--<int:channel id="guitarsChannel" />-->

    <int-stream:stdout-channel-adapter id="guitarsChannel"/>


</beans:beans>